In [1]:
import numpy as np

In [2]:
import pandas as pd
tags=pd.read_csv('T3/ml-20m/tags.csv')

In [9]:
movies=pd.read_csv('T3/ml-20m/movies.csv')

In [4]:
ratings=pd.read_csv('T3/ml-20m/ratings.csv')

In [175]:
ratings

          userId  movieId  rating   timestamp
0              1        2     3.5  1112486027
1              1       29     3.5  1112484676
2              1       32     3.5  1112484819
3              1       47     3.5  1112484727
4              1       50     3.5  1112484580
...          ...      ...     ...         ...
20000258  138493    68954     4.5  1258126920
20000259  138493    69526     4.5  1259865108
20000260  138493    69644     3.0  1260209457
20000261  138493    70286     5.0  1258126944
20000262  138493    71619     2.5  1255811136

[20000263 rows x 4 columns]

In [176]:
tags.sort_values('movieId',inplace=True)

In [177]:
tags

        userId  movieId         tag   timestamp
358938  110148        1  friendship  1422605756
42994    10616        1   animation  1277357417
42993    10616        1    animated  1277357419
42992    10616        1   adventure  1277357423
134542   35984        1   animation  1152405430
...        ...      ...         ...         ...
120022   28906   131258       Korea  1427745512
120021   28906   131258     bandits  1427745421
120025   28906   131258       whale  1427745432
120024   28906   131258     pirates  1427745419
120023   28906   131258      mutiny  1427745542

[465564 rows x 4 columns]

In [178]:
# collecting tags in movies dataframe for content
for j in tags.movieId.unique():
   movies.loc[movies.loc[movies.movieId==j].index,'tags']=' '.join([i if type(i)==str else str(i) for i in tags.loc[ ( tags.movieId == j ),'tag'].unique().tolist() ])

In [179]:
movies

,movieId,title,genres,tags
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,friendship animation animated adventure pixar ...
1,2,Jumanji (1995),Adventure|Children|Fantasy,time travel Robin Williams game board game Kir...
2,3,Grumpier Old Men (1995),Comedy|Romance,comedinha de velhinhos engraÃƒÂ§ada Jack Lemmo...
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,characters CLV revenge chick flick
4,5,Father of the Bride Part II (1995),Comedy,CLV wedding watched under duress Comedy it tho...
...,...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy,NaN
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,NaN
27275,131258,The Pirates (2014),Adventure,Korea bandits whale pirates mutiny
27276,131260,Rentun Ruusu (2001),(no genres listed),NaN
27277,131262,Innocence (2014),Adventure|Fantasy|Horror,NaN

In [180]:
#splitting data for usability, larger datasets crashed kaggle and pc
from sklearn.model_selection import train_test_split
use,dontuse=train_test_split(ratings,test_size=0.995)

In [181]:
use

          userId  movieId  rating   timestamp
3903741    26625     2054     2.0  1223450818
1917760    12973     2672     3.0   965999898
1449551     9799     3987     3.0   983122751
5201870    35631     2605     3.5  1270522537
17448739  120678      367     3.0   842203183
...          ...      ...     ...         ...
11134347   76947     1246     5.0   906804959
2794490    18912      529     3.0   943151345
15578796  107720     3668     3.0  1048536525
9520731    65866     1237     5.0  1418356316
10498830   72634     2478     4.0  1276611085

[100001 rows x 4 columns]

In [311]:
import gc

gc.collect()

90

In [183]:
user_movies_data=pd.pivot_table(use,index='movieId',columns='userId',values='rating',fill_value=0)

In [184]:
user_movies_data

userId,2,5,7,11,14,24,26,29,31,33,...,138466,138467,138470,138474,138476,138477,138478,138483,138486,138492
movieId,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0.0,0,0,0,0.0,0,...,0,0,0,0,0,0.0,0,0,0.0,0
2,0,0,0,0,0.0,0,0,0,0.0,0,...,0,0,0,0,0,0.0,0,0,0.0,0
3,0,0,0,0,0.0,0,0,0,0.0,0,...,0,0,0,0,0,0.0,0,0,0.0,0
4,0,0,0,0,0.0,0,0,0,0.0,0,...,0,0,0,0,0,0.0,0,0,0.0,0
5,0,0,0,0,0.0,0,0,0,0.0,0,...,0,0,0,0,0,0.0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128305,0,0,0,0,0.0,0,0,0,0.0,0,...,0,0,0,0,0,0.0,0,0,0.0,0
129354,0,0,0,0,0.0,0,0,0,0.0,0,...,0,0,0,0,0,0.0,0,0,0.0,0
129378,0,0,0,0,0.0,0,0,0,0.0,0,...,0,0,0,0,0,0.0,0,0,0.0,0
129779,0,0,0,0,0.0,0,0,0,0.0,0,...,0,0,0,0,0,0.0,0,0,0.0,0
131078,0,0,0,0,0.0,0,0,0,0.0,0,...,0,0,0,0,0,0.0,0,0,0.0,0

In [185]:
movies['tags']=movies['tags'].fillna('None')

In [186]:
movies

,movieId,title,genres,tags
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,friendship animation animated adventure pixar ...
1,2,Jumanji (1995),Adventure|Children|Fantasy,time travel Robin Williams game board game Kir...
2,3,Grumpier Old Men (1995),Comedy|Romance,comedinha de velhinhos engraÃƒÂ§ada Jack Lemmo...
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,characters CLV revenge chick flick
4,5,Father of the Bride Part II (1995),Comedy,CLV wedding watched under duress Comedy it tho...
...,...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy,None
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,None
27275,131258,The Pirates (2014),Adventure,Korea bandits whale pirates mutiny
27276,131260,Rentun Ruusu (2001),(no genres listed),None
27277,131262,Innocence (2014),Adventure|Fantasy|Horror,None

In [187]:
#Content Filtering
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
tfidf_matrix=tfidf.fit_transform(movies['tags'])
tfidf_df=pd.DataFrame(tfidf_matrix.toarray(),index=movies.index.tolist())

In [188]:
tfidf_df.shape

(27278, 24112)

In [189]:
from sklearn.decomposition import TruncatedSVD
svd=TruncatedSVD(n_components=19)
latent_matrix=svd.fit_transform(tfidf_df)

In [190]:
n=19
latent_matrix_1_df=pd.DataFrame(latent_matrix[:,0:n],index=movies['title'].tolist())

In [191]:
#Collaborative 
svd=TruncatedSVD(n_components=20)
latent_matrix_2=svd.fit_transform(user_movies_data)

In [192]:
latent_matrix_2_df=pd.DataFrame(latent_matrix_2,index=[movies.loc[(movies.movieId==i),'title'].values[0] for i in (use['movieId'].unique())])

In [193]:
latent_matrix_2_df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
"Honey, I Shrunk the Kids (1989)",1.722458e+00,1.727351e+00,7.743970e-01,2.675932e+00,6.230526e-01,-1.728837e-01,2.620461e+00,-1.880541e+00,1.463233e+01,6.997310e+00,3.559201e+01,-4.003356e+01,2.182724e+00,2.834100e+01,2.186099e+00,3.405633e+00,3.113299e+00,-2.635595e+00,-4.345276e+00,-2.828504e+00
"Thirteenth Floor, The (1999)",8.673909e-02,2.704531e-01,2.577641e-01,9.661520e-02,3.413548e-02,3.855021e-01,1.904649e-01,-1.217746e-01,7.060717e-02,-1.254732e-02,1.598043e-01,-9.651499e-02,1.716909e-01,8.817657e-02,8.100785e-02,-1.011914e-01,3.164538e-01,1.427832e-01,-2.025104e-01,5.162616e-01
Bounce (2000),2.762225e-02,2.393789e-02,2.568218e-02,2.046540e-02,3.833211e-02,4.211659e-02,6.308774e-02,-5.688431e-04,9.811905e-02,2.436294e-02,5.007656e-02,1.023651e-01,9.802982e-02,-7.610696e-03,4.163204e-02,-8.179024e-02,4.021398e-01,3.381972e-01,2.046612e-01,1.220655e-01
Entrapment (1999),5.123267e-04,9.033714e-05,1.708142e-04,1.060727e-04,3.368301e-04,3.824364e-04,1.077871e-03,4.900319e-04,1.448661e-03,-2.249321e-04,5.586481e-05,3.729435e-04,5.012139e-04,-2.433315e-04,1.888872e-03,-1.399350e-03,-1.971896e-04,3.786723e-04,1.035865e-03,4.468013e-04
"Mask, The (1994)",2.818260e-02,2.105791e-02,2.177279e-01,-2.189276e-02,2.053461e-02,2.084631e-01,-3.555481e-02,1.652543e-02,5.098225e-02,2.296858e-04,6.634707e-02,1.985612e-02,8.585007e-02,-1.525205e-02,1.136304e-01,-1.031397e-01,-9.205478e-02,1.184517e-01,-2.522398e-03,5.767150e-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Frozen Assets (1992),2.981890e-04,9.306641e-04,5.606850e-04,1.171726e-03,8.081305e-04,8.723156e-04,3.454826e-03,-3.972723e-04,-2.158477e-03,4.212441e-04,5.245595e-03,2.285075e-03,9.685876e-04,1.133024e-03,-6.417820e-03,-4.300428e-03,-5.835827e-04,2.733958e-03,4.466072e-03,1.518447e-02
Bachelor Mother (1939),7.583927e-05,8.252145e-05,1.552969e-04,6.543291e-05,2.194007e-04,1.716280e-04,1.761025e-04,2.980401e-05,3.046228e-04,-6.700983e-05,3.774997e-05,4.390320e-04,2.340844e-04,-1.952781e-04,-2.157475e-04,-3.000109e-05,1.367927e-03,1.265502e-04,1.108496e-04,5.568793e-04
Beyond Hypothermia (Sip si 32 doe) (1996),3.717036e-04,5.670230e-04,8.578167e-04,2.502500e-04,2.941785e-04,9.532185e-04,8.026214e-04,1.383104e-04,2.591928e-03,-1.490495e-03,6.493788e-04,1.502820e-03,1.146100e-03,-6.755860e-04,2.062495e-04,-4.973340e-04,1.159332e-03,1.545802e-03,6.615710e-04,1.282978e-03
Bride Wars (2009),-2.874117e-14,-6.260264e-14,-5.976635e-14,6.443352e-15,-1.194028e-13,-7.101251e-14,1.595711e-14,6.171507e-14,2.563501e-13,-4.839166e-13,2.872879e-13,3.452263e-13,-1.391195e-14,2.344625e-13,4.465867e-13,-3.786405e-13,4.405261e-13,6.537995e-13,1.079279e-13,7.764347e-13
Bad Influence (1990),2.235070e-05,1.813953e-05,1.975259e-06,2.019149e-05,6.535118e-05,2.726333e-05,5.906611e-05,2.634931e-05,1.138972e-04,1.358847e-05,3.698794e-04,1.763414e-04,-1.190050e-04,-2.983762e-04,-1.300967e-05,-6.733047e-06,-5.660254e-05,8.732893e-05,9.158211e-05,1.296650e-04

In [194]:
#Finding issues with different sized matrixes
latent_matrix_1_df=latent_matrix_1_df.drop_duplicates()
latent_matrix_2_df=latent_matrix_2_df.drop_duplicates()

In [195]:
a=latent_matrix_2_df.copy()
for i in latent_matrix_1_df.index:
    if i not in latent_matrix_2_df.index:
        a=a.append(pd.Series(np.zeros(20), index=np.arange(0,20),name=i))

In [208]:
b=latent_matrix_1_df.copy()
for i in a.index:
    if i not in b.index:
        b=b.append(pd.Series(np.zeros(19), index=np.arange(0,19),name=i))

In [282]:
#Same index was repeated multiple times, decided to remove duplicates
a = a[~a.index.duplicated(keep='first')]

In [284]:
b = b[~b.index.duplicated(keep='first')]

In [287]:
from sklearn.metrics.pairwise import cosine_similarity

In [288]:
def recommend_similar_movies(title):
    if title in b.index:
        a_1=np.array(b.loc[title]).reshape(1,-1)
        score_content=cosine_similarity(b,a_1).reshape(-1)
    else:
        score_content=0
    if title in a.index:
        a_2=np.array(a.loc[title]).reshape(1,-1)
        score_collab=cosine_similarity(a,a_2).reshape(-1)
    else:
        score_collab=0
    
    hybrid_score=(score_content+score_collab)/2

    dictDF={'content':score_content,'collab':score_collab,'hybrid':hybrid_score}
    dictDF
    similar_movies=pd.DataFrame(dictDF,index=a.index)


    similar_movies.sort_values('hybrid',ascending=False,inplace=True)
    return similar_movies

In [289]:
recommend_similar_movies('Toy Story (1995)')

                                 content    collab    hybrid
Toy Story (1995)                1.000000  1.000000  1.000000
Foot Fist Way, The (2006)       0.900554  0.836506  0.868530
Finding Nemo (2003)             0.979281  0.749029  0.864155
Little Miss Sunshine (2006)     0.913788  0.813786  0.863787
Host, The (2013)                0.767909  0.936121  0.852015
...                                  ...       ...       ...
Dream Man (1995)                0.000000 -0.293416 -0.146708
Seven Swords (Chat gim) (2005)  0.000000 -0.308179 -0.154089
Survivors, The (1983)           0.000000 -0.364347 -0.182173
Millhaven (2010)                0.000000 -0.364928 -0.182464
61* (2001)                      0.048557 -0.440082 -0.195762

[17575 rows x 3 columns]

In [294]:
recommend_similar_movies('Mission: Impossible II (2000)')

,content,collab,hybrid
Mission: Impossible II (2000),1.000000,1.000000,1.000000
Charlie's Angels (2000),0.879759,0.803410,0.841585
"Rocks (Rad, Das) (2003)",0.824092,0.810827,0.817459
"Honey, I Shrunk the Kids (1989)",0.814474,0.804361,0.809418
Battle of Los Angeles (2011),0.812457,0.800538,0.806498
...,...,...,...
The World Forgotten (2011),-0.416050,0.000000,-0.208025
Solan og Ludvig: Jul i Flåklypa (2013),-0.425730,0.000000,-0.212865
"Bridal Party in Hardanger, The (Brudeferden i Hardanger) (1926)",-0.426343,0.000000,-0.213172
Deliver Us from Eva (2003),0.000000,-0.427522,-0.213761
"Harvest: 3,000 Years (Mirt Sost Shi Amit) (1976)",-0.435823,0.000000,-0.217912

In [305]:
from surprise import Dataset, Reader, SVD, accuracy
from surprise.model_selection import train_test_split
Mapping_file = dict(zip(movies['title'].tolist(), movies['movieId'].tolist()))

In [312]:
reader=Reader(rating_scale=(1,5))
data=Dataset.load_from_df(use[['userId','movieId','rating']],reader)

In [313]:
#using split data 'use' from earlier
trainset,testset=train_test_split(data,test_size=0.25)

In [314]:
svd=SVD()
svd.fit(trainset)
preds=svd.test(testset)

In [315]:
accuracy.rmse(preds)

RMSE: 0.9624

0.9623731846948171

In [318]:
def pred_user_rating(ui):
    if ui in ratings.userId.unique():
        ui_list = ratings[ratings.userId == ui].movieId.tolist()
        d = {k: v for k,v in Mapping_file.items() if not v in ui_list}        
        predictedL = []
        for i, j in d.items():     
            predicted = svd.predict(ui, j)
            predictedL.append((i, predicted[3])) 
        pdf = pd.DataFrame(predictedL, columns = ['movies', 'ratings'])
        pdf.sort_values('ratings', ascending=False, inplace=True)  
        pdf.set_index('movies', inplace=True)    
        return pdf.head(10)        
    else:
        print("User Id does not exist in the list!")
        return None

In [320]:
pred_user_rating(100)

                                                     ratings
movies
To Kill a Mockingbird (1962)                        4.394022
12 Angry Men (1957)                                 4.368182
Rear Window (1954)                                  4.356566
Godfather, The (1972)                               4.349428
Lawrence of Arabia (1962)                           4.343304
Amadeus (1984)                                      4.339029
Bridge on the River Kwai, The (1957)                4.320045
Great Escape, The (1963)                            4.311758
Paths of Glory (1957)                               4.298268
Star Wars: Episode V - The Empire Strikes Back ...  4.297910

In [321]:
pred_user_rating(1100)

                                                     ratings
movies
To Kill a Mockingbird (1962)                        4.394022
12 Angry Men (1957)                                 4.368182
Rear Window (1954)                                  4.356566
Godfather, The (1972)                               4.349428
Lawrence of Arabia (1962)                           4.343304
Amadeus (1984)                                      4.339029
Bridge on the River Kwai, The (1957)                4.320045
Great Escape, The (1963)                            4.311758
Paths of Glory (1957)                               4.298268
Star Wars: Episode V - The Empire Strikes Back ...  4.297910

In [336]:
#Checking movie popularity by looking at number of user ratings
ratings['movieId'].value_counts()

296       67310
356       66172
318       63366
593       63299
480       59715
          ...
123607        1
90823         1
123609        1
123613        1
131136        1
Name: movieId, Length: 26744, dtype: int64

In [10]:
counts=ratings['movieId'].value_counts().values.tolist()

In [23]:
bestmovies=[movies.loc[(movies.movieId==i),'title'].tolist()[0] for i in ratings['movieId'].value_counts().index.tolist()]

In [27]:
pd.DataFrame(counts,index=bestmovies).iloc[:20]

                                                        0
Pulp Fiction (1994)                                 67310
Forrest Gump (1994)                                 66172
Shawshank Redemption, The (1994)                    63366
Silence of the Lambs, The (1991)                    63299
Jurassic Park (1993)                                59715
Star Wars: Episode IV - A New Hope (1977)           54502
Braveheart (1995)                                   53769
Terminator 2: Judgment Day (1991)                   52244
Matrix, The (1999)                                  51334
Schindler's List (1993)                             50054
Toy Story (1995)                                    49695
Fugitive, The (1993)                                49581
Apollo 13 (1995)                                    47777
Independence Day (a.k.a. ID4) (1996)                47048
Usual Suspects, The (1995)                          47006
Star Wars: Episode VI - Return of the Jedi (1983)   46839
Batman (1989)                                       46054
Star Wars: Episode V - The Empire Strikes Back ...  45313
American Beauty (1999)                              44987
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)           44980